:root {
  --easing-emphasized: var(--md-sys-motion-easing-emphasized);
  --easing-emphasized-decelerate: var(--md-sys-motion-easing-emphasized-decelerate);
  --easing-emphasized-accelerate: var(--md-sys-motion-easing-emphasized-accelerate);
  --easing-standard: var(--md-sys-motion-easing-standard);
  --easing-standard-decelerate: var(--md-sys-motion-easing-standard-decelerate);
  --easing-standard-accelerate: var(--md-sys-motion-easing-standard-accelerate);
}