.button.button--primary {
  --background: var(--md-sys-color-primary);
  --color: var(--md-sys-color-on-primary);
  --background-disabled: var(--md-sys-color-surface-variant);
  --color-disabled: var(--md-sys-color-on-surface-variant);
  --color-text-disabled: var(--md-sys-color-on-surface);
}

.button.button--on-primary {
  --background: var(--md-sys-color-on-primary);
  --color: var(--md-sys-color-primary);
  --background-disabled: var(--md-sys-color-on-surface-variant);
  --color-disabled: var(--md-sys-color-surface-variant);
  --color-text-disabled: var(--md-sys-color-surface);
}

.button {
  -webkit-tap-highlight-color: transparent;
  border: none;
  height: 40px;
  padding: 10px 12px;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;

  .button__text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;

    ::ng-deep svg {
      width: 18px;
      height: 18px;
      margin-left: -8px;
      fill: var(--color);
    }
  }

  &.button--text, &.button--icon {
    position: relative;
    
    .button__text {
      color: var(--background);

      ::ng-deep svg {
        width: 18px;
        height: 18px;
        margin-left: -8px;
        fill: var(--background);
      }
    }

    &:not([disabled])::after {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      height: inherit;
      width: 100%;
      border-radius: inherit;
      z-index: -1;
    }

    &:hover {
      &::after {
        background-color: var(--background);
        opacity: 0.08;
      }
    }

    &:active {
      &::after {
        background-color: var(--background);
        opacity: 0.12;
      }
    }

    &[disabled] {
      
      .button__text {
        color: var(--color-text-disabled);
        opacity: 0.38;

        ::ng-deep svg {
          width: 18px;
          height: 18px;
          margin-left: -8px;
          fill: var(--color-text-disabled);
        }
      }
    }
  }

  &.button--icon {
    .button__text {
      ::ng-deep svg {
        width: 24px;
        height: 24px;
        margin-left: 0;
      }
    }
  }

  &.button--filled {
    padding: 10px 24px 10px 24px;

    color: var(--color);
    background-color: var(--background);
    transition: all 0.2s cubic-bezier(0.2, 0, 0, 1);

    &:focus {
      box-shadow: none;
    }

    &:hover {
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    }

    &:active {
      box-shadow: none;
    }

    &[disabled] {
      color: var(--color-disabled);
      background-color: var(--background-disabled);
      box-shadow: none;

      .button__text {
        opacity: 0.38;

        ::ng-deep svg {
          width: 18px;
          height: 18px;
          margin-left: -8px;
          fill: var(--color-disabled);
        }
      }
    }
  }
}