@import 'assets/theme/theme.scss';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto Flex';
  transition: background-color 0.08s ease-in, color 0.08s ease-in;
}

// ESTILOS USADOS EM TRANSIÇÕES ENTRE PÁGINAS
#expand-to-other-page {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  display: none;
}