<app-dark-theme-toggle></app-dark-theme-toggle>
<h1 class="on-background-text">CARA A CARA</h1>

<div class="flex flex--columns">
  <div id="expand-to-other-page" class="primary"></div>
  <m3-button [routerLink]="['/', 'character-picker']" appearance="filled"
    >Começar um novo jogo
  </m3-button>
  <!-- <m3-button
    [disabled]="true"
    [routerLink]="['/', 'character-picker']"
    appearance="filled"
    >Começar um novo jogo
  </m3-button>
  <m3-button appearance="text">Continuar</m3-button>
  <m3-button appearance="text" [disabled]="true">Continuar</m3-button> -->
</div>
